<h1>Artist Form</h1>

<%= form_for @artist do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br><br>

    <%= f.label :age %>
    <%= f.number_field :age %><br><br>

    <%= f.label :title %>
    <%= f.text_field :title %><br><br>

    <%= f.submit %>

<% end %>